<% breadcrumb :kabuki %> <!-- これを追記 -->
<p id="notice"><%= notice %></p>

<h1>歌舞伎</h1>

<table>
  <thead>
    <tr>
      <th>picture</th>
      <th>Title</th>
      <th>Body</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <% if post.image? %>
      　<td><%=  image_tag post.image.url%></td>
      　<% else %>
      　<td>画像がありません</td>
      　<% end %>
        <td><%= link_to post.title, post_path(post)%></td>
        <td><%= post.body %></td>
        <td><%= post.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @posts %>
<br>

<%= link_to 'New Post', new_post_path %>
